body{
  font-family: 'Dosis';
  color:white;
}

.masthead{
  z-index: -1;
  position: fixed;
  background-color: #18b6a4; 
  background-image: url(""); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 50% 50%; 
  margin-top:0;
  height: 100%;
  width: 100%;
}

h1{
  font-family: 'Dosis';
  color: white;
  font-size: 80px;
  text-align: center;
  width: 100%;
  font-weight:200;
}

.main-title{
  margin-top: 200px;
}

h2, .title{
  font-family: 'Dosis';
  color: white;
  font-size: 50px;
  text-align: center;
  width: 100%;
  font-weight:200;
}

.description{
  font-size: 20px;
  text-align:center;
  line-height: 30px;
}

.container{
  background-color: white;
  color:black;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  width: 80%;
}

.container > h2 {
  color:black;
}

table {
  width: 80%; 
  margin-left=auto; 
  margin-right=auto;
}

a{
  color: #b8d8f8;
}